<a href="https://colab.research.google.com/github/feniltailor22/OOP/blob/main/Object_Oriented_Programming_1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Class: It is a user defined data type.
#Class is a template or blue-print for real-world entities:
#It contains two things: (i)Attributes(Properties) (ii)Methods(Behaviour)

In [2]:
#Objects are specific instances of a class.

In [3]:
class Phone: 
#first letter of class name is always capital.  
  
  def make_call(self):
    print('Making phone calls')

  def play_game(self):
    print('Playing game') 

  def set_color(self, color):
    self.color= color

  def show_color(self):
    return self.color

  def set_cost(self, cost):
    self.cost= cost

  def show_cost(self):
    return self.cost

In [4]:
#Creating object for Phone class
p1= Phone()

In [5]:
#Performing methods through object.
p1.make_call()

Making phone calls

In [6]:
p1.play_game()

Playing game

In [7]:
p1.set_color('blue')

In [8]:
p1.show_color()

'blue'

In [9]:
p1.set_cost(5000)

In [10]:
p1.show_cost()

5000

In [11]:
#Creating class with Constructor(__init__)

class Employee:
  def __init__ (self, name, age, salary, gender):

    self.name= name
    self.age= age
    self.salary= salary
    self.gender= gender
  
  def employee_details(self):
    print('Name of the employee is', self.name)
    print('Age of the employee is', self.age)
    print('Salary of the employee is', self.salary)
    print('Gender of the employee is', self.gender)

In [12]:
e1= Employee('Krishna',25, 80000, 'Male')

In [13]:
e1.employee_details()

Name of the employee is Krishna
Age of the employee is 25
Salary of the employee is 80000
Gender of the employee is Male

In [14]:
#Inheritance:
#With inheritance one class can derive the properties of another class.

In [15]:
class Vehicle:
  def __init__(self, name, cost, mileage):

     self.name= name
     self.cost= cost
     self.mileage= mileage
  
  def show_vehicle_details(self):
      print('Name of the vehicle is', self.name)
      print('Cost of the vehicle is', self.cost)
      print('Mileage of the vehicle is', self.mileage)

class Car(Vehicle):
  def show_car(self):
    print('I am a Car')

In [16]:
c1= Car('Swift', 550000, 45)

In [17]:
c1.show_vehicle_details()

Name of the vehicle is Swift
Cost of the vehicle is 550000
Mileage of the vehicle is 45

In [18]:
c1.show_car()

I am a Car

In [19]:
#Over-riding __init__ method

class Vehicle:
  def __init__(self, cost, mileage):
   
    self.cost= cost
    self.mileage= mileage
  
  def show_vehicle_details(self):
   
    print('Cost of the vehicle is', self.cost)
    print('Mileage of the vehicle is', self.mileage)

In [20]:
c2= Vehicle(750000, 50)

In [21]:
c2.show_vehicle_details()

Cost of the vehicle is 750000
Mileage of the vehicle is 50

In [22]:
#Over-riding continue:
class Car(Vehicle):
  def __init__(self, cost, mileage, tyres, hp):
    super().__init__(cost, mileage)
    self.tyres= tyres
    self.hp= hp
  
  def show_car_details(self):
    print('I am a Car.')
    print('I have total tyres:', self.tyres)
    print('I have total horse power of:', self.hp)

In [23]:
c3= Car(750000, 50, 4, 2600)

In [24]:
c3.show_vehicle_details()

Cost of the vehicle is 750000
Mileage of the vehicle is 50

In [25]:
c3.show_car_details()

I am a Car.
I have total tyres: 4
I have total horse power of: 2600

In [26]:
#Multiple Inheritance: Child inherits from more than 1 parent class.

In [27]:
class Parent1:
  def assign_string_one(self, str1):
    self.str1= str1

  def show_str1(self):
    return self.str1

class Parent2:
  def assign_string_two(self, str2):
    self.str2= str2

  def show_str2(self):
    return self.str2

class Child(Parent1, Parent2):
  def assign_string_three(self, str3):
    self.str3= str3

  def show_str3(self):
    return self.str3

In [28]:
my_child= Child()

In [29]:
my_child.assign_string_one('I am string 1 of parent 1')
my_child.show_str1()

'I am string 1 of parent 1'

In [30]:
my_child.assign_string_two('I am string 2 of parent 2')
my_child.show_str2()

'I am string 2 of parent 2'

In [31]:
my_child.assign_string_three('I am string of child')
my_child.show_str3()

'I am string of child'

In [32]:
#Multi-level Inheritance: It has Parent, Child, and Grand-child relationship.

In [33]:
class Parent:
  def assign_name(self, name):
    self.name= name

  def show_name(self):
    return self.name

class Child(Parent):
  def assign_age(self, age):
    self.age= age

  def show_age(self):
    return self.age

class GrandChild(Child):
  def assign_gender(self, gender):
    self.gender= gender

  def show_gender(self):
    return self.gender

In [34]:
gc= GrandChild()

In [35]:
gc.assign_name('Fenil')
gc.show_name()

'Fenil'

In [36]:
gc.assign_age(25)
gc.show_age()

25

In [37]:
gc.assign_gender('Male')
gc.show_gender()

'Male'

In [38]:
#Polymorphism: It is an ability to use common interface for multiple form(data types).
#Four types: (i)Duck Typing (ii)Operator Overloading (iii)Method Overloading (iv)Method Overriding

In [39]:
class Parrot:
  def fly(self):
    print('Parrot can fly.')
  def swim(self):
    print("Parrot can't swim.")

class Turtle:
  def fly(self):
    print("Turtle can't fly.")
  def swim(self):
    print("Turtle can swim.")

def fact1(creature):
  creature.fly()

def fact2(creature):
  creature.swim()

In [40]:
A1= Parrot()
fact1(A1)

Parrot can fly.

In [41]:
fact2(A1)

Parrot can't swim.

In [42]:
A2= Turtle()
fact1(A2)

Turtle can't fly.

In [43]:
fact2(A2)

Turtle can swim.

In [44]:
#Encapsulation: It is used to restrict access to methods and variables.
#This can prevent the data from being modified by accident.
#It can be achieved by private methods and private variables.

In [45]:
#Private method is accessible only in their own class and starts with double underscores (__). 
#Use: Data hiding, Flexibility, Reusability

In [46]:
class Walmart:
  def __init__(self):
    self.store_name= 'Heartland Supercenter'
    self.__location= 'Missisauga'
  
  def Associate(self):            
    return self.store_name + self.__location

In [47]:
obj= Walmart()

In [48]:
obj.store_name

'Heartland Supercenter'

In [49]:
#Accessing private method by name mangling: object._class__private attribute
obj._Walmart__location

'Missisauga'

In [50]:
obj.Associate()

'Heartland SupercenterMissisauga'

In [51]:
#Set and Get method for private variables:
class Walmart:
  def __init__(self):
    self.store_name= 'Heartland Supercenter'
    self.__location= 'Missisauga'
  
  def Associate(self):            
    return self.store_name + ' : ' + self.__location
  
  def set_location(self, x):
    self.__location= x
  
  def get_location(self):
    return self.__location

In [52]:
obj= Walmart()

In [53]:
obj.Associate()

'Heartland Supercenter : Missisauga'

In [54]:
obj.set_location('Kennady')

In [55]:
obj.get_location()

'Kennady'

In [56]:
obj.Associate()

'Heartland Supercenter : Kennady'

In [57]:
#Abstraction: It is used to hide the complexity and only showing the essential features of the object.
#Abstract classes cannot be instantiated, and required subclasses to provide implementations for the abstract method.

In [58]:
from abc import ABC, abstractmethod
#ABC= abstract class

In [59]:
#Creating Abstract class:
class Shape(ABC):
  @abstractmethod
  def area(self):
    pass
  
  @abstractmethod
  def perimeter(self):
    pass

class Square(Shape):
  def __init__(self, s):
    self.side= s
  
  def area(self):
    return self.side*self.side
  def perimeter(self):
     return self.side*4

In [60]:
ob= Square(5)

In [61]:
ob.area()

25

In [62]:
ob.perimeter()

20

In [63]:
class MyCompany:
        
    # methods
    def __init__(self, compname, revenue, employeesize):
        self.name = compname
        self.revenue = revenue
        self.no_of_employees = employeesize

    def productivity(self):
        return self.revenue/self.no_of_employees

In [64]:
comp= MyCompany('xyz', 54000, 2)

In [65]:
comp.productivity()

27000.0